<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momato.calendar.CalendarMapper">
	<select id="selectTomatosForCalendar" parameterType="CalendarSearch" resultType="TomatoCount">
		select right(date(tomato_date),2) as date,
		       count(*) as count
		  from tomato
		 where year(tomato_date) = #{year}
		   and month(tomato_date) = #{month}
		   and member_id = #{memberId}
		   and tomato_canStart = 1
   		   and template_idx is null 
		 group by date(tomato_date)
	</select>
</mapper>