<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momato.member.MemberMapper">
	<select id="selectMember" resultType="Member" parameterType="Member">
		select member_id,
		       member_name
		  from `member`
		 where member_id = #{memberId}
		   and member_pass = #{memberPass}  
	</select>
	
	<select id="selectMemberById" resultType="Member" parameterType="Member">
		select *
		  from `member`
		 where member_id = #{memberId}
	</select>
	
	<resultMap id="MemberMap" type="Member">
	    <result property="memberId" column="member_id" />
	    <result property="memberName" column="member_name" />
	    <association property="memberGrade" javaType="Grade">
	         <id property="memberId" column="member_id" />
	         <result property="gradeName" column="grade_name" />
	         <result property="gradeImageUrl" column="grade_image_url" />
	         <result property="gradeComment" column="grade_comment" />
	    </association>
	</resultMap>
	
	<select id="selectMemberByIdExcludePass" resultMap="MemberMap" parameterType="Member">
		SELECT m.member_id,
			   m.member_name, 
		       mg.grade_name, 
		       mg.grade_image_url, 
		       mg.grade_comment
		  from `member` m
		 inner join (select grade.*, gv.member_id
					   from grade_view gv
		              inner join grade 
		                 on gv.member_grade = grade.grade_name) mg
		   on m.member_id = mg.member_id
		where m.member_id = #{memberId}   
	</select>
	
	
	
	<insert id="insertMember" parameterType="Member">
		insert into `member` (member_id, member_pass, member_name)
		values (#{memberId},#{memberPass},#{memberName})
	</insert>
	
	<select id="selectIsTokenContainedOfBlackList" parameterType="string" resultType="boolean">
		select if(count(*) > 0, true, false) 
		  from jwt_blacklist
		 where jwt_blacklist_token = #{token}
	</select>
	
	<insert id="insertJwtBlacklist" parameterType="string">
		insert into jwt_blacklist(jwt_blacklist_token)
		values (#{token})
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update `member`
		<set>
			<if test="memberName != null">
				member_name = #{memberName}, 
			</if>
			<if test="memberPass != ''">
		    	member_pass = #{memberPass},  
			</if>
		</set>
		 where member_id = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete 
		  from member
		 where member_id = #{memberId}
	</delete>
</mapper>