<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momato.tomato.TomatoMapper">
	<!-- 토마토 전체 조회 -->
	<select id="selectTomato" parameterType="Tomato" resultType="Tomato">
		select *
		  from tomato
		<choose>
			<when test='tomatoDate != null'>
		 		where member_id = #{memberId}
				  and date(tomato_date) = #{tomatoDate}
				  and template_idx is null
			</when>
			<otherwise>
				where template_idx = #{templateIdx}
			</otherwise>
		</choose>
	</select>

	<!-- 토마토번호로 토마토 한개 조회 -->
	<select id="selectOneTomato" parameterType="int" resultType="Tomato">
		select *
		  from tomato
		 where tomato_idx = #{tomatoIdx}
	</select>
	
	<!-- 템플릿인덱스번호로 토마토 조회 -->
	<select id="selectTomatoByTemplateIdx" parameterType="int" resultType="Tomato">
		select *
		  from tomato
		 where template_idx = #{templateIdx}
	</select>
	
	<!-- 토마토 추가 -->
	<insert id="insertTomato" parameterType="Tomato">
		insert into tomato (tomato_name, member_id
		) values (#{tomatoName}, #{memberId})
	</insert>
	
	<!-- 템플릿 토마토 추가 -->
	<insert id="insertTemplateTomato" parameterType="Tomato">
		insert into tomato (tomato_name, member_id, template_idx
		) values (#{tomatoName}, #{memberId}, #{templateIdx})
	</insert>
	
	<!-- 토마토 삭제 -->
	<delete id="deleteTomato" parameterType="int">
		delete from tomato
		 where tomato_idx = #{tomatoIdx}
	</delete>
	
	<!-- 토마토 수정 -->
	<update id="updateTomato" parameterType="Tomato">
		update tomato
		   set tomato_name = #{tomatoName},
		       tomato_full_regular = #{tomatoFullRegular},
		       tomato_full_break = #{tomatoFullBreak},
		       tomato_left_regular = #{tomatoLeftRegular},
		       tomato_left_break = #{tomatoLeftBreak},
		       tomato_can_start = #{tomatoCanStart}
		 where tomato_idx = #{tomatoIdx}
	</update>
</mapper>