<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momato.tomato.TomatoMapper">
	<!-- 토마토 전체 조회 -->
	<select id="selectTomato" resultType="Tomato">
		select *
		  from tomato
	</select>

	<!-- 특정 토마토 조회 -->
	<select id="selectOneTomato" parameterType="int" resultType="Tomato">
		select *
		  from tomato
		<choose>
			<when test="templateIdx != null">
				where template_idx = #{templateIdx}
			</when>
			<when test='tomatoIdx != null'>
				where tomato_idx = #{tomatoIdx}
			</when>
		</choose>
	</select>

	
	
	<!-- 토마토 추가 -->
	<insert id="insertTomato" parameterType="Tomato">
		insert into tomato (tomato_name, tomato_full_regular, tomato_full_break, member_id
		) values (#{tomatoName}, #{tomatoFullRegular}, #{tomatoFullBreak}, #{memberId})
	</insert>
	
	<!-- 토마토 삭제 -->
	<delete id="deleteTomato" parameterType="int">
		delete from tomato
		 where tomato_idx = #{tomatoIdx}
	</delete>
	
	<!-- 토마토 수정 -->
	<update id="updateTomato" parameterType="Tomato">
		update tomato
		   set tomato_name = #{tomatoName},
		       tomato_full_regular = #{tomatoFullRegular},
		       tomato_full_break = #{tomatoFullBreak}
		 where tomato_idx = #{tomatoIdx}
	</update>
</mapper>